/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Baskerville";
}

#head-content {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 5px 15px rgba(165, 162, 82, 0.5);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: beige;
}

nav a {
  text-decoration: none;
  font-weight: 600;
  color: #a5b452;
}

.navlists ul li {
  display: inline-block;
  padding: 10px 15px;
  list-style: none;
}

.navlists ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #a5b452;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.navlists ul li:hover:after {
  width: 100%;
}

.navlists ul li a:hover {
  color: #a5b452;
}

.fa-house-chimney {
  color: #a5b452;
  font-size: 30px;
}

/* .active {
  border: 1px solid #a5b452;
  padding: 8px;
} */

nav .fa-xmark,
nav .fa-bars {
  display: none;
}

.contact button {
  padding: 8px 10px;
  border-radius: 20px;
  background-color: black;
  color: #fff;
  border: none;
}

.contact .fa-arrow-right {
  background-color: #000;
  color: #a5b452;
  font-size: 18px;
  border-radius: 50%;
  padding: 5px 7px;
}

.row {
  display: flex;
  margin-top: 5%;
  justify-content: space-between;
}

/* main course */

.main-course {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)),
    url("../img/house2.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  position: relative;
  padding: 0 60px;
}
#main-course-inner {
  position: absolute;
  bottom: 100px;
  /* margin-top: 30px; */
}
.main-course h1 {
  color: #a5b452;
  font-weight: bold;
  font-size: 50px;
  padding-bottom: 10px;
}

.main-course p {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

.main-btn {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.browse button {
  padding: 8px 10px;
  border-radius: 20px;
  background-color: #fff;
  color: #000;
  border: none;
  border: 1px solid #fff;
  font-weight: bold;
}

.more button {
  padding: 8px 10px;
  border-radius: 20px;
  background-color: transparent;
  color: #fff;
  border: none;
  border: 1px solid #fff;
}

.browse .fa-arrow-right {
  background-color: #000;
  color: #a5b452;
  font-size: 18px;
  border-radius: 50%;
  padding: 5px 7px;
}

.more .fa-arrow-right {
  background-color: #a5b452;
  color: #fff;
  font-size: 18px;
  border-radius: 50%;
  padding: 5px 7px;
}

/* Facilities */

.Facilities {
  text-align: center;
  padding-top: 100px;
  width: 80%;
  margin: auto;
}

.Facilities h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0;
}

.Facilities p {
  font-size: 14px;
  padding: 10px;
  line-height: 22px;
  font-weight: 300;
  color: #000;
  margin-bottom: 20px;
}

.pro {
  font-weight: lighter;
}

.strong {
  font-weight: bold;
}

.facilities-row .fa-water-ladder,
.fa-dumbbell,
.fa-car {
  font-size: 20px;
  background-color: #a5b452;
  color: #fff;
  border-radius: 50%;
  padding: 20px;
}

.facilities-row {
  padding: 15px 20px;
}

/* Gallery */

.gallery {
  text-align: center;
  padding-top: 50px;
  margin: auto;
  width: 100%;
}

.gallery-hall {
  padding: 5px 8px;
  position: relative;
  overflow: hidden;
  /* border-radius: 10px; */
  /* flex-basis: 50%; */
}

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5%;
}

.gallery-row > div {
  width: 25%;
}

.gallery-hall img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  display: block;
}

.layer {
  background: transparent;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  border-radius: 10px;
  background: rgba(165, 162, 82, 0.5);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
  opacity: 0;
}
.layer:hover h3 {
  bottom: 45%;
  opacity: 1;
}

/* Testimonial */
.testimonial {
  width: 97%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.testimonial p {
  padding: 10px;
}

.testimonial-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 5%;
  text-align: left;
  padding: 10px 13px;
  background: beige;
  display: flex;
  cursor: pointer;
  border: 1px solid #a5b452;
}

/* .testimonial-col:hover {
} */

.testimonial-col h3 {
  margin-top: 15px;
  text-align: center;
}

.testimonial-col img {
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 2px;
  margin-top: 10px;
  border: 2px solid #a5b452;
}

.icons {
  text-align: center;
}

.icons .fa-star {
  color: #a5b452;
}

/* Question and Answer */
.QandA {
  text-align: center;
  padding-top: 50px;
  margin: auto;
  width: 100%;
}

.QandA-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 40px;
}

.QandA-row > div {
  width: 30%;
}

.QandA-col {
  padding: 20px 25px;
}

.QandA-col h3 {
  margin-bottom: 10px;
}

.QandA-col p {
  font-size: 16px;
  /* font-weight: lighter; */
  line-height: 1.7em;
}

/* Newsletter */
.newsletter {
  padding: 40px 80px;
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #a5b452;
  background-position: 20% 30%;
  background-repeat: no-repeat;
}

.newtext h4 {
  font-size: 24px;
  font-weight: 700;
}

.newtext p {
  font-size: 15px;
  font-weight: 600;
  color: beige;
}

.newsletter .form {
  display: flex;
  width: 40%;
}

.form input {
  width: 100%;
  height: 3.125rem;
  padding: 0 1.25rem;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: 0;
  font-size: 14px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  caret-color: #a5b452;
}

.form button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #fff;
  color: #a5b452;
  white-space: nowrap;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.form .btn {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 16px;
  cursor: pointer;
  border: 0;
  outline: 0;
  transition: 0.2s;
}

/* Contact Us */

.contact-us {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}

.contact-col > div {
  /* display: flex; */
  align-items: center;
  margin-bottom: 40px;
}

.contact-col .fa {
  font-size: 28px;
  margin: 10px;
  margin-right: 14px;
  color: #a5b452;
}

.contact-col div p {
  padding: 0;
}

.contact-col div h5 {
  font-size: 20px;
  font-weight: 400;
  color: #555;
  margin-bottom: 5px;
}

.contact-col input,
.contact-col textarea {
  width: 90%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  resize: none;
  caret-color: #a5b452;
  border-radius: 10px;
}

.contact-col .btn {
  display: flex;
  padding: 10px 15px;
  border-radius: 10px;
  color: #a5b452;
  background-color: beige;
  outline: 0;
  border: 1px solid #a5b452;
  cursor: pointer;
  font-size: 12px;
  margin-left: 30px;
}

.contact-col .btn:hover {
  background-color: #a5b452;
  color: beige;
}

/* Footer */

footer {
  background: beige;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  text-align: center;
  box-shadow: 0 5px 15px rgba(165, 162, 82, 0.5);
}

footer a {
  text-decoration: none;
  color: #a5b452;
}

footer .social-icons i {
  padding: 10px 15px;
  color: #a5b452;
}

footer .social-icons .fa-brands {
  font-size: 18px;
}

@media screen and (max-width: 700px) {
  .main-course {
    padding: 0px 30px;
  }

  .navlists ul li {
    display: block;
    padding: 30px;
  }

  .navlists {
    position: fixed;
    background-color: beige;
    width: 200px;
    height: 100vh;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
    backdrop-filter: blur(1rem);
  }

  nav .fa-xmark,
  nav .fa-bars {
    display: block;
    color: #a5b452;
    font-size: 30px;
    margin: 20px;
    cursor: pointer;
  }

  .navlists ul {
    padding: 30px;
  }

  .contact {
    display: none;
  }

  .row {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    justify-content: center;
  }

  .gallery-row {
    display: flex;
    flex-direction: column;
  }

  .gallery-row > div {
    width: 100%;
  }
  .QandA-row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 40px;
  }

  .QandA-row > div {
    width: 100%;
  }

  .contact-us {
    width: 100%;
    /* margin: auto;
    text-align: center;
    padding-top: 50px; */
  }

  .newsletter .form {
    width: 100%;
  }

  .main-btn {
    display: flex;
    flex-direction: column;
  }

  .main-course h1 {
    font-size: 35px;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  footer h4 {
    margin-top: 10px;
  }
  .social-icons {
    margin-top: 10px;
  }
}

@media (max-width: 477px) {
  .newsletter .form {
    width: 100%;
  }

  .newsletter {
    padding: 40px 20px;
  }
}
